aiohttp==3.7.4.post0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
altair==4.1.0; python_version >= "3.6"
appnope==0.1.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7" and platform_system == "Darwin" and sys_platform == "darwin"
argcomplete==1.12.3; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7" and python_version < "3.8.0"
argon2-cffi==20.1.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
astor==0.8.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
async-timeout==3.0.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
attrs==21.2.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
backcall==0.2.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
backports.zoneinfo==0.2.1; python_version < "3.9" and python_version >= "3.6"
base58==2.1.0; python_version >= "3.6"
bleach==4.0.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
blinker==1.4; python_version >= "3.6"
bokeh==2.3.3; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
bottleneck==1.3.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
cachetools==4.2.2; python_version >= "3.6" and python_version < "4.0"
certifi==2021.5.30; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
cffi==1.14.6; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7" and implementation_name == "pypy"
chardet==4.0.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
charset-normalizer==2.0.4; python_full_version >= "3.6.0" and python_version >= "3.6"
click==7.1.2; python_full_version >= "3.6.1" and python_version >= "3.6" and python_full_version < "4.0.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
cloudpickle==1.6.0
colorama==0.4.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and platform_system == "Windows" and python_version >= "3.7" and sys_platform == "win32"
configparser==5.0.2; python_version >= "3.6"
cycler==0.10.0; python_version >= "3.7"
dask==2.30.0; python_version >= "3.6"
dataprep==0.3.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
datasets==1.11.0; python_version >= "3.6"
debugpy==1.4.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
decorator==5.0.9; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
defusedxml==0.7.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
dill==0.3.4; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.1.0" and python_version >= "3.6"
distributed==2.30.1; python_version >= "3.6" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
docker-pycreds==0.4.0; python_version >= "3.6"
entrypoints==0.3; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
filelock==3.0.12; python_full_version >= "3.6.0" and python_version >= "3.6"
fsspec==2021.7.0; python_version >= "3.6" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
future==0.18.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
gitdb==4.0.7; python_version >= "3.6"
gitpython==3.1.20; python_version >= "3.6"
heapdict==1.0.1; python_version >= "3.6" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
htmlmin==0.1.12; python_version >= "3.6"
huggingface-hub==0.0.12; python_full_version >= "3.6.0" and python_version >= "3.6"
idna==3.2; python_full_version >= "3.6.1" and python_version >= "3.6" and python_full_version < "4.0.0"
imagehash==4.2.1; python_version >= "3.6"
importlib-metadata==4.6.4; python_version == "3.7" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
ipykernel==6.2.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
ipython-genutils==0.2.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
ipython==7.26.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
ipywidgets==7.6.3; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
jedi==0.18.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
jinja2==2.11.3; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6") and python_version >= "3.7"
joblib==1.0.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
jsonpath-ng==1.5.3; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
jsonschema==3.2.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
jupyter-client==7.0.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
jupyter-core==4.7.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
jupyterlab-pygments==0.1.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
jupyterlab-widgets==1.0.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
kiwisolver==1.3.1; python_version >= "3.7"
locket==0.2.1; python_version >= "3.6" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
markupsafe==2.0.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
marshmallow==3.13.0; python_version >= "3.5"
matplotlib-inline==0.1.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
matplotlib==3.4.3; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
metaphone==0.6; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
missingno==0.5.0; python_version >= "3.6"
mistune==0.8.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
msgpack==1.0.2; python_version >= "3.6" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
multidict==5.1.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
multimethod==1.4; python_version >= "3.6"
multiprocess==0.70.12.2; python_version >= "3.6"
nbclient==0.5.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
nbconvert==6.1.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
nbformat==5.1.3; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
nest-asyncio==1.5.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
networkx==2.6.2; python_version >= "3.7"
nltk==3.6.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.5"
notebook==6.4.3; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
numpy==1.21.2
packaging==21.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
pandas-profiling==3.0.0; python_version >= "3.6"
pandas==1.3.2; python_full_version >= "3.7.1"
pandocfilters==1.4.3; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
parso==0.8.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
partd==1.2.0; python_version >= "3.6" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pathtools==0.1.2; python_version >= "3.6"
pexpect==4.8.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7" and sys_platform != "win32"
phik==0.12.0; python_version >= "3.6"
pickleshare==0.7.5; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
pillow==8.3.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
ply==3.11; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
probableparsing==0.0.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
prometheus-client==0.11.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
promise==2.3; python_version >= "3.6"
prompt-toolkit==3.0.20; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
protobuf==3.17.3; python_version >= "3.6"
psutil==5.8.0; python_version >= "3.6" and python_full_version >= "3.6.1" and python_full_version < "4.0.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6")
ptyprocess==0.7.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7" and sys_platform != "win32" and os_name != "nt"
py==1.10.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7" and implementation_name == "pypy"
pyarrow==4.0.1; python_version >= "3.6"
pycparser==2.20; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7" and implementation_name == "pypy"
pydantic==1.8.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
pydeck==0.6.2; python_version >= "3.6"
pygments==2.10.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
pyparsing==2.4.7; python_full_version >= "3.6.1" and python_version >= "3.7" and python_full_version < "4.0.0"
pyrsistent==0.18.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
python-crfsuite==0.9.7; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
python-dateutil==2.8.2; python_full_version >= "3.7.1" and python_full_version < "4.0.0" and python_version >= "3.7" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6")
python-levenshtein==0.12.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pytz==2021.1; python_full_version >= "3.7.1" and python_full_version < "4.0.0"
pywavelets==1.1.1; python_version >= "3.6"
pywin32==301; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6" and sys_platform == "win32"
pywinpty==1.1.3; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6" and os_name == "nt"
pyyaml==5.4.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
pyzmq==22.2.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
regex==2020.11.13; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
requests==2.26.0; python_full_version >= "3.6.0" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
sacremoses==0.0.45; python_full_version >= "3.6.0" and python_version >= "3.6"
scikit-learn==0.24.2; python_version >= "3.6"
scipy==1.7.1; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
seaborn==0.11.2; python_version >= "3.6"
send2trash==1.8.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
sentencepiece==0.1.96; python_version >= "3.6"
sentry-sdk==1.3.1; python_version >= "3.6"
seqeval==1.2.2; python_version >= "3.6"
shortuuid==1.0.1; python_version >= "3.6"
simpletransformers==0.61.13; python_version >= "3.6"
six==1.16.0; python_full_version >= "3.7.1" and python_full_version < "4.0.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7") and python_version >= "3.7"
smmap==4.0.0; python_version >= "3.6"
sortedcontainers==2.4.0; python_version >= "3.6" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
streamlit==0.87.0; python_version >= "3.6"
subprocess32==3.5.4; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version < "4" and python_version >= "3.6"
tangled-up-in-unicode==0.1.0; python_version >= "3.6"
tblib==1.7.0; python_version >= "3.6" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
tensorboardx==2.4; python_version >= "3.6"
terminado==0.11.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
testpath==0.5.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
threadpoolctl==2.2.0; python_version >= "3.6"
tokenizers==0.10.3; python_full_version >= "3.6.0" and python_version >= "3.6"
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
toolz==0.11.1
torch==1.9.0; python_full_version >= "3.6.2"
tornado==6.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7" and python_version < "3.8"
tqdm==4.62.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6") and python_version >= "3.6"
traitlets==5.0.5; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
transformers==4.9.2; python_full_version >= "3.6.0" and python_version >= "3.6"
typer==0.3.2; python_version >= "3.6"
typing-extensions==3.10.0.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6" and python_version < "3.8"
tzdata==2021.1; platform_system == "Windows" and python_version >= "3.6"
tzlocal==3.0; python_version >= "3.6"
urllib3==1.26.6; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
usaddress==0.5.10; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
validators==0.18.2; python_version >= "3.6"
visions==0.7.1; python_version >= "3.6"
wandb==0.12.0; python_version >= "3.6"
watchdog==2.1.5; platform_system != "Darwin" and python_version >= "3.6"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
webencodings==0.5.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7"
widgetsnbextension==3.5.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
wordcloud==1.8.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
xxhash==2.0.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
yarl==1.6.3; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
zict==2.0.0; python_version >= "3.6" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
zipp==3.5.0; python_version < "3.8" and python_version >= "3.6"
